<div class="app-container">
  <div class="nav-bar">
    <div class="nav-item-container logo-container">
      LABELLE
    </div>
    <div class="nav-item-container section-container">
      ABOUT
    </div>
    <div class="nav-item-container section-container">
      COLLECTIONS
    </div>
    <div class="nav-item-container section-container">
      BLOG
    </div>
    <div class="nav-item-container section-container">
      ACCOUNT
    </div>
    <div class="nav-item-container section-container">
      CART
    </div>
    <div class="nav-item-container search-container">
      <div class="search-outline">
        <span class="search-icon-container">
          <i class="fas fa-search search-icon"></i>
          Search
        </span>
      </div>
    </div>
  </div>
  <div class="home-page-body">
    <div class="top-image-slider">
      <div class="slider slider-nav">
        <div class="slider-image-element image-one">
          <div class="image-one-content">
            <div class="line-one">
              The new minimal
            </div>
            <div class="line-two">
              EXCLUSIVE
            </div>
            <div class="line-two">
              FASHION <span>SINCE 1975</span>
            </div>
            <div class="line-four-container">
              <span class="line-four">
              COLLECT NOW
            </span>
            </div>
          </div>
        </div>
        <div class="slider-image-element image-two">
        </div>
        <div class="slider-image-element image-three">
        </div>
        <div class="slider-image-element image-four">
        </div>
        <div class="slider-image-element image-five">
        </div>
      </div>
    </div>
    <div class="collection-section">
      <div class="section-header">
        <span class="header-line-one">OUR ACCESSORY FOR ALL!</span>
        <span class="header-line-two">Creating Remarkable collections with expertised fashion designers</span>
      </div>
      <div class="section-content">
        <div class="collection-content content-one-show-image">
        </div>
        <div class="collection-content">
          <div class="section-header">
            <span class="header-line-one">WOMEN <span class="header-line-two">COLLECTION</span></span>
          </div>
          <div class="sub-content">
            <span class="sub-content-body">
              Cum sociis natoque penatibus et magnis dis parturient monmontes, nascetur ridiculus mus.nnascetur ridiculus mus.ascetur. 
            </span>
            <div class="shop-button-container">
              <span class="shop-button">
              SHOP NOW
            </span>
            </div>
          </div>
        </div>
        <div class="collection-content content-three-show-image">
        </div>
      </div>
      <div class="section-content">
        <div class="collection-content">
          <div class="section-header">
            <span class="header-line-one">MEN <span class="header-line-two">COLLECTION</span></span>
          </div>
          <div class="sub-content">
            <span class="sub-content-body">
              Cum sociis natoque penatibus et magnis dis parturient monmontes, nascetur ridiculus mus.nnascetur ridiculus mus.ascetur. 
            </span>
            <div class="shop-button-container">
              <span class="shop-button">
              SHOP NOW
            </span>
            </div>
          </div>
        </div>
        <div class="collection-content content-two-show-image">
        </div>
        <div class="collection-content">
          <div class="section-header">
            <span class="header-line-one">LABELLE <span class="header-line-two">ACCESSORIES</span></span>
          </div>
          <div class="sub-content">
            <span class="sub-content-body">
              Cum sociis natoque penatibus et magnis dis parturient monmontes, nascetur ridiculus mus.nnascetur ridiculus mus.ascetur. 
            </span>
            <div class="shop-button-container">
              <span class="shop-button">
              SHOP NOW
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-container">
    </div>
    <div class="featured-section">
      <div class="section-header">
        <span class="header-line-one">FEATURED PRODUCT</span>
      </div>
      <div class="featured-products-container">
        <div class="featured-product">
          <div class="add-to-cart-container">
            <div class="image-one">
              <div class="add-to-cart-banner">
                <div class="shopping-bag-icon">
                  <i class="fas fa-cart-plus"></i>
                </div>
                <div class="add-to-cart-content">
                  Add to cart
                </div>
                <div class="add-to-favourite-icon">
                  <i class="far fa-heart"></i>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div class="featured-product-description">
              <div class="description-line">Cum sociis natoque penatibus et
              </div>
              <div class="description-line">$1345
              </div>
            </div>
          </div>
        </div>
        <div class="featured-product">
          <div class="add-to-cart-container">
            <div class="image-two">
              <div class="add-to-cart-banner">
                <div class="shopping-bag-icon">
                  <i class="fas fa-cart-plus"></i>
                </div>
                <div class="add-to-cart-content">
                  Add to cart
                </div>
                <div class="add-to-favourite-icon">
                  <i class="far fa-heart"></i>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div class="featured-product-description">
              <div class="description-line">Cum sociis natoque penatibus et
              </div>
              <div class="description-line">$2000
              </div>
            </div>
          </div>
        </div>
        <div class="featured-product">
          <div class="add-to-cart-container">
            <div class="image-three">
              <div class="add-to-cart-banner">
                <div class="shopping-bag-icon">
                  <i class="fas fa-cart-plus"></i>
                </div>
                <div class="add-to-cart-content">
                  Add to cart
                </div>
                <div class="add-to-favourite-icon">
                  <i class="far fa-heart"></i>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div class="featured-product-description">
              <div class="description-line">Cum sociis natoque penatibus et
              </div>
              <div class="description-line">$1100
              </div>
            </div>
          </div>
        </div>
        <div class="featured-product">
          <div class="add-to-cart-container">
            <div class="image-four">
              <div class="add-to-cart-banner">
                <div class="shopping-bag-icon">
                  <i class="fas fa-cart-plus"></i>
                </div>
                <div class="add-to-cart-content">
                  Add to cart
                </div>
                <div class="add-to-favourite-icon">
                  <i class="far fa-heart"></i>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div class="featured-product-description">
              <div class="description-line">Cum sociis natoque penatibus et
              </div>
              <div class="description-line">$1453
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="look-book-section">
      <div class="section-header">
        <span class="header-line-one">THE LOOKBOOK</span>
      </div>
      <div class="look-book-images-container">
        <div class="look-book-image">
          <div class="image-one section-container">
            <div class="section-one">
              <div class="section-one-image">
              </div>
            </div>
            <div class="section-two">
              <div class="section-two-name">
                Clifford Kelley
              </div>
              <div class="section-two-description">
                Natural Photographer
              </div>
            </div>
            <div class="section-three">
            </div>
            <div class="section-four">
            </div>
          </div>
        </div>
        <div class="look-book-image">
          <div class="image-two section-container">
            <div class="section-one">
            </div>
            <div class="section-two">
            </div>
            <div class="section-three">
            </div>
            <div class="section-four">
            </div>
          </div>
        </div>
        <div class="look-book-image">
          <div class="image-three section-container">
            <div class="section-one">
            </div>
            <div class="section-two">
            </div>
            <div class="section-three">
            </div>
            <div class="section-four">
            </div>
          </div>
        </div>
        <div class="look-book-image">
          <div class="image-four section-container">
            <div class="section-one">
            </div>
            <div class="section-two">
            </div>
            <div class="section-three">
            </div>
            <div class="section-four">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>